<div class="centerBlock">
<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  <div class="form-group">
    <label>Start date</label>
    <input type="date" class="form-control" name="dateStart"  formControlName="dateStart" #dateStart/>

    <div class="alert alert-danger"
         *ngIf="myForm.controls['dateStart'].invalid && myForm.controls['dateStart'].touched">
      No date
    </div>
  </div>
  <div class="form-group">
    <label>End date</label>
    <input type="date" class="form-control" name="dateEnd" formControlName="dateEnd" #dateEnd/>

    <div class="alert alert-danger"
         *ngIf="myForm.controls['dateEnd'].invalid && myForm.controls['dateEnd'].touched">
      No date
    </div>
  </div>

  <div class="form-group">
    <app-button-with-spinner [disabled]="myForm.invalid"
                             [showSpinner]="isFetching$ | async"></app-button-with-spinner>
    <div class="alert alert-danger" *ngIf="myForm.invalid && checkTouched()">
      Сheck that the start date is less than the end date and also the end date is less than today
    </div>
  </div>
</form>
</div>
