<div class="table">
  <a  class="buttonTryAgain">TRY AGAIN</a>

      <div
        *ngIf="description.show"
        class="toolTip"
        [ngStyle] = "{
      'top': description.y + 'px',
      'left': description.x + 'px'
    }"
      >
        <h1>{{description.name}}</h1>
        <span>{{description.value}}</span>
      </div>
  <svg #svg [attr.width]="'100%'" [attr.height]="'100%'" (resized)="buildTable()">
    <g [attr.transform]="service.getMargins(options.margin.left, options.margin.top)" #g>
    </g>
  </svg>
    </div>

