a.buttons {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;

}
a.buttons:hover, a.selected { background: rgb(53, 167, 110); }
a.buttons:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.wrapButtons {
  display: flex;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.bigWrap {
  display: flex;
  justify-content: center;
}

a {
  cursor: pointer;
}

.mainForName{
  cursor: pointer;
  border: darkred 1px solid;
  padding: 5px 50px;
  margin: 0 -1px -1px 0;

}

a.buttonTryAgain {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
a.buttonTryAgain:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
a.buttonTryAgain:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}


.bar{
  fill: yellow;
}

.table{
  height: 500px;
}

.toolTip {
  position: absolute;
  width: 200px;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
  z-index: 2;
}

.toolTip span{
  font-size: 16px;
}
